{% extends "AppFinal/padre.html" %}

{% load static %}

{% block titulo %}

{% endblock %}

{% block descripcion %}

Destinos: ¿Cuál es tu destino ideal?

{% endblock %}

{% block boton %}


   Vamos a investigar!


{% endblock %}

{% block imagen3 %}
<section class="py-5">
   <div class="container my-5">
       <div class="row justify-content-center">
           <div class="col-lg-6">
               <h2>Destino</h2>
               <p class="lead">Por favor, ingrese el destino de su preferencia.</p>

               {% if DestinoFormulario.errors %}

               <p class="mb-0">Revisar.</p>

               {% endif %}

               <form action="" method="POST">{% csrf_token %}
                   <table>
                       {{ DestinoFormulario.as_table }}
                   </table>
                   
                   <input type="submit",value="Enviar">


               </form>
           </div>
       </div>
   </div>
</section>



{% endblock %}
